@font-face {
  font-family: "SF UI Display";
  src: url("./../fonts/SFUIDisplay-Light.eot");
  src: url("./../fonts/SFUIDisplay-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/SFUIDisplay-Light.woff2") format("woff2"),
    url("./../fonts/SFUIDisplay-Light.woff") format("woff"),
    url("./../fonts/SFUIDisplay-Light.ttf") format("truetype"),
    url("./../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display Bold";
  src: url("./../fonts/SFUIDisplay-Bold.eot");
  src: url("./../fonts/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/SFUIDisplay-Bold.woff2") format("woff2"),
    url("./../fonts/SFUIDisplay-Bold.woff") format("woff"),
    url("./../fonts/SFUIDisplay-Bold.ttf") format("truetype"),
    url("./../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}


*{
  box-sizing: border-box;
  outline: none;
  font-family: "SF UI Display";
  list-style: none;
  text-decoration: none;
}

//font-weight: 200; || font-weight: bold;

html {
  font-size: 100%;
  @include media-min(lg) {
    font-size: 100%;
  }
}

ul{
  padding:0;
}

.container {
    width: 86.13%;
    max-width: 1300px;
}

h1 {
  font-size: 1.875rem;
  font-family: "SF UI Display Bold";
}

h2{
  font-size: 1.875rem;  
  font-family: "SF UI Display Bold";
}

p {
  font-size: 1rem;
}

a{
  font-family: "SF UI Display Bold";
  &:active,&:focus{
    color: $green !important;
    text-decoration: none !important;
  }
}

.fix-height{
  height: 2.4rem;
}
