@import "node_modules/bootstrap/scss/mixins";

@mixin media-min($breakpoint){
    @if map-has-key($grid-breakpoints,$breakpoint) {
         @media  (min-width: map-get($grid-breakpoints,$breakpoint) ){
             @content;
         }
    }
    @else {
        @warn 'Opz não existe ' + #{$breakpoint} + ' no map';
    }
}

@mixin media-max($breakpoint){
    @if map-has-key($grid-breakpoints,$breakpoint) {
         @media  (max-width: map-get($grid-breakpoints,$breakpoint) ){
             @content;
         }
    }
    @else {
        @warn 'Opz não existe ' + #{$breakpoint} + ' no map';
    }
}


@mixin flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: flex;
}