<template>
    <div id="home">
        <transition name="fadeErro" enter-active-class="fadeIn" leave-active-class="fadeOut">
               <lap-erro v-show="erros.length > 0" :valueErros="erros"></lap-erro>
        </transition>
        <header class="bg-primary pb-4 pt-4  mb-5 text-white">
             <h1 class="mx-auto text-center" >CADASTRE-SE</h1>
             <p class="text-center pr-3 pl-3 pl-md-0 pr-md-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="container h-100">
                    <form class="h-100">
                        <div class="row h-100 justify-content-start align-items-center">
                            <div class="col-12 pl-2 pr-2 mt-2 mt-md-0 fix-height col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="nome"  placeholder="Nome">
                                </div>
                            </div>
                            <div class="col-12 pl-2 pr-2 mt-2 mt-md-0 fix-height col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="sobrenome"  placeholder="Sobrenome">
                                </div>
                            </div>
                            <div class="col-12 pl-2 pr-2 mt-2 mt-md-0 fix-height col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="porcentagem"  placeholder="Participação">
                                </div>
                            </div>
                            <div class="col-12 pl-2 pr-2 mt-2 mt-md-0 fix-height col-md-3">
                               <lap-button :cadastro="cadastrar"  border="light"></lap-button>
                            </div>
                        </div>
                    </form>
            </div>
        </header>
        <section class="content-test  position-relative">
            <lap-loading v-show="loading"></lap-loading>
            <header class="text-center">
                <h2>DADOS</h2>
                <p class="text-center pr-3 pl-3 pl-md-0 pr-md-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </header>
           <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-12 col-lg-6">
                   <lap-table></lap-table>
                </div>
                <div class="col-md-12 col-12 col-lg-6">
                    <canvas id="lapChart"></canvas>
                </div>
            </div>
        </div>
        </section>
    </div>
</template>
<script>
import "chart.js";
import LapErro from "./../ui/Erro";
import LapButton from "./../ui/Button";
import LapTable from "./../ui/Table";
import LapLoading from "./../ui/Loading";
import axios from "axios";

export default {
  name: "home",
  data() {
    return {
      participacao: [],
      name: [],
      erros: [],
      params: false,
      nome: "",
      sobrenome: "",
      porcentagem: "",
      loading: false
    };
  },
  components: {
    LapErro,
    LapButton,
    LapTable,
    LapLoading
  },
  mounted() {
    this.get();
  },
  methods: {
    //method axios retorna json : get
    get() {
      this.loading = true;
      // #constante url base da api
      const urlParam = "http://www.mocky.io/v2/5a5aae282e0000cd2671fb61",
        url = "http://www.mocky.io/v2/5a5b35c22c00002a0eee39a5";
      let urlAtual;
      // opção que tive para resolver a questão de não poder passar parametro por get, por ex: ?page=2&max-page=8
      // #params false indica que ainda não foi enviado o post... sendo assim ficaremos com a url base que retorna 4,
      // #params true então adc um novo registro e ele pega a segunda url simulando um parametro de page atual por ex, e me retorna 5...
      this.params == false ? (urlAtual = url) : (urlAtual = urlParam);
      //scoped
      var self = this;
      const getLap = (url, params) => {
        axios
          .get(url, {
            headers: {
              "Content-Type": "application/json"
            }
          })
          //se não tiver nenhum erro retorna uma promise / #response com os dados em json
          .then(
            response => {
              // get body data
              //recupera os dados e armazena em const creatName, concatena name + surname e retorna novo array
              const creatName = response.data.map(
                  resul => `${resul.name}  ${resul.surname}`
                ),
                //recupera os dados e armazena em const creatParticipacao, retorna novo array com porcentagem da participação
                creatParticipacao = response.data.map(
                  resul => `${resul.porcentagem}`
                );
              // vuex seta data para o componente tabela poder recuperar os dados...
              self.$store.commit("setData", response.data);
              //seta name em data do home...
              self.name = creatName;
              self.participacao = creatParticipacao;
              /*=================================================================
              ============================ chart ==============================
              =================================================================*/

              //chart set config
              const ctx = document.getElementById("lapChart").getContext("2d");
              const chart = new Chart(ctx, {
                // The type of chart we want to create
                type: "doughnut",
                // The data for our dataset
                data: {
                  labels: self.name,
                  datasets: [
                    {
                      label: "My First dataset",
                      // cores setadas por default 5, porem poderia vim as cores random ou cadastrado no banco...
                      backgroundColor: [
                        "#3794D1",
                        "#BCC2C6",
                        "#9358A3",
                        "#E94935",
                        "#1DB797"
                      ],
                      borderColor: "transparent",
                      data: this.participacao
                    }
                  ]
                }
                // Configuration options go here
                //options: {}
              });

              this.loading = false;

              return chart;
            },
            response => {
              // error callback
              // não usei nenhum callback de error para esse teste...
            }
          );
      };

      getLap(urlAtual, "default");
    },
    cadastrar() {
      //validação simples dos campos inputs
      const regexp = /[\d]/g;
      const regexpNumber = /[^\d]/g;

      this.erros = [];
      if (regexp.test(this.nome)) {
        return this.erros.push("O campo nome não pode conter numeros");
      } else if (this.nome.trim().length <= 0) {
        return this.erros.push("O campo nome é obrigatorio");
      } else if (this.sobrenome.trim().length <= 0) {
        return this.erros.push("O campo Sobrenome é obrigatorio");
      } else if (regexp.test(this.sobrenome)) {
        return this.erros.push("O campo Sobrenome não pode conter numeros");
      } else if (this.porcentagem.trim().length <= 0) {
        return this.erros.push("O campo Participação é obrigatorio");
      } else if (regexpNumber.test(this.porcentagem)) {
        return this.erros.push(
          "O campo Participação só pode conter numeros... nada de % - / ="
        );
      } else {
        this.nome = "";
        this.sobrenome = "";
        this.porcentagem = "";
        //retorna params como true pela primeira vez...
        return this.params == false
          ? (this.params = true)
          : (this.params = this.params);
      }
    }
  },
  watch: {
    params() {
      this.loading = true;
      setTimeout(() => this.get(), 1000);
    }
  }
};
</script>
<style lang="scss" scoped>
$mb-default: 4rem;
#home {
  margin-bottom: $mb-default;
}
header {
  .container {
    padding-left: 12%;
  }
}
.content-test {
  header {
    margin: 2rem 0 1rem 0;
    @include media-min(md) {
      margin: 5rem 0 3rem 0;
    }
    h2,
    p {
      color: $default;
    }
  }
}
input {
  border-radius: 0;
  font-size: 0.8rem;
  height: 2.4rem;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  transition: all 0.1s ease-in;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>

