<template>
    <div class="button">
        <div class="form-group">
            <button :type="type" :class="`btn bg-${bg}  btn-outline-${border}`" @click.stop.prevent="cadastro" >{{value}}</button>
        </div>
    </div>
</template>
<script>
export default {
  name: "buttonLap",
  data() {
    return {};
  },
  props: {
    type: {
      type: String,
      default: "button"
    },
    value: {
      type: String,
      default: "Enviar"
    },
    bg: {
      type: String,
      default: ""
    },
    border: {
      type: String,
      default: ""
    },
    cadastro: {
      required: true
    }
  }
};
</script>
<style lang="scss" scoped>
button {
  width: 99%;
  $df: transparent !default;
  background-color: $df;
  border-radius: 0;
  height: 2.4rem;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  @include media-min(md) {
    width: 40%;
  }
}
</style>
