<template>
    <div class="erro">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Opz erro... :(</strong> 
          <hr>
           <span v-for="erro in valueErros">
             {{erro}}
           </span>
          <button type="button" class="close" @click="close = !close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>
</template>
<script>
export default {
  name: "erro",
  data() {
    return {};
  },
  props: {
    valueErros: {
      type: Array
    },
    close: Boolean
  }
};
</script>
<style lang="scss" scoped>
.alert {
  position: absolute;
  right: 1rem;
  top: 0.1rem;
  z-index: 999;
  font-size: 1rem;
  @include media-min(md) {
    font-size: 0.8rem;
  }
}
</style>
