<template>
    <div class="loading">
       <svg width="200px"  height="200px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-eclipse" style="background: none;">
            <path stroke="none" d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#6bb9ce" transform="rotate(30 50 51)">
            <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 51;360 50 51" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
            </path>
        </svg>
    </div>
</template>
<script>
export default {
  name: "loading",
  data() {
    return {};
  }
};
</script>
<style lang="scss" scoped>
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(355, 355, 355, 0.9);
  z-index: 999;
  svg {
    width: 5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(40% - 5rem);
    margin: 0 auto;
  }
}
</style>
