<template>
    <div class="table table-responsive">
        <table :class="`table  ${type}`">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col" class="text-center">Participação</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="lista in get">
                <th scope="row">{{lista.index + 1}}</th>
                <td>{{lista.name}}</td>
                <td>{{lista.surname}}</td>
                <td class="text-center">{{lista.porcentagem + '%'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
  name: "tableLap",
  data() {
    return {};
  },
  props: {
    type: {
      type: String,
      default: "table-bordered"
    }
  },
  computed: {
    // não precisava retornar o state data com vuex, era só criar um props com "data" e deixar a responsabilidade para o componente pai
    // incluir dinamiamente...
    get() {
      return this.$store.state.data;
    }
  }
};
</script>
<style lang="scss" scoped>
button {
  width: 40%;
  $df: transparent !default;
  background-color: $df;
  border-radius: 0;
  height: 2.4rem;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
</style>
